<ion-view title="Tareas">
	<!-- Displays a button in the nav-bar to control deletion -->
	<ion-nav-buttons side="left">
		<button class="button icon ion-minus-circled" ng-click="toggleShowDelete()" ng-class="{ 'button-dark': options.showDelete }">
		</button>
	</ion-nav-buttons>
	
	<!-- Displays a button in the nav-bar to control reordering -->
	<ion-nav-buttons side="right">
		<button class="button icon ion-navicon" ng-click="toggleShowReorder()" ng-class="{ 'button-dark': options.showReorder }">
		</button>
	</ion-nav-buttons>
	
	<ion-content>
		<!-- Displays a toggle for controlling settings -->
		<ion-toggle ng-model="options.showDone" toggle-class="toggle-positive">Ver tareas listas</ion-toggle>
		
		<ion-list show-reorder="options.showReorder" class="reorder-list" show-delete="options.showDelete">
			<ion-item ng-repeat="task in tasks" ng-hide="task.done && !options.showDone">
				<ion-checkbox ng-model="task.done" ng-disabled="options.showDelete || options.showReorder" class="checkbox-positive">{{ task.text }}</ion-checkbox>
				<ion-reorder-button class="ion-navicon" on-reorder="moveTask(task, $fromIndex, $toIndex)">
				</ionic-reorder-button>
				<ion-delete-button class="ion-minus-circled" ng-click="deleteTask($index)">
    		</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
	
	<form ng-submit="addTask()">
		<ion-footer-bar class="item-input-inset bar-positive">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-plus-empty placeholder-icon"></i>
				<input type="text" placeholder="Nueva tarea" ng-model="newTask">
			</label>
			<button class="button button-clear">
				Agregar
			</button>
		</ion-footer-bar>
	</form>
</ion-view>
