.reorder-list .item-complex .item-content {
  padding: 0;  
}

.reorder-list .item-right-editable .item-content {
  -webkit-transition-duration: initial;
  transition-duration: initial;
  -webkit-transition-timing-function: initial;
  transition-timing-function: initial;
  -webkit-transition-property: initial;
  -moz-transition-property: initial;
  transition-property: initial;  
}

.reorder-list .list-right-editing .item-right-editable .item-content {
  -webkit-transform: none;
  transform: none;
}